[submodule "esp-serial-flasher/examples/OTA_UPDATE_FPGA_USING_ESP32"]
	path = esp-serial-flasher/examples/OTA_UPDATE_FPGA_USING_ESP32
	url = https://github.com/SurajSonawane2415/OTA_UPDATE_FPGA_USING_ESP32.git
